header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;
  width: 100%;
  padding: 15px 20px 20px;
  background-color: #333;
}

@media all and (min-width: 600px) {
  header {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 30px;
  }
}
