.App {
  text-align: center;
  color: white;
}

.header {
  background-color: #202020bd;
  width: 80%;
  margin: 70px auto 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.info {
  padding: 10px 30px;
  text-align: left;
}

.name {
  font-size: 32px;
}

.description {
  font-weight: 200;
}

.links {
  padding: 10px 20px;
  display: flex;
  align-self: center;
  font-size: large;
}

a {
  padding: 5px;
  text-decoration: none;
  color: white;
}

.content {
  width: 80%;
  margin: 20px auto 70px;
  height: 480px;
  background-color: #202020bd;
}
