.App {
  text-align: center;
}

.header {
  background-color: rgb(40, 51, 113);
  width: 80%;
  margin: 70px auto 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header h1 {
  padding: 0 30px;
  font-weight: 400;
  color: white;
}

.links {
  padding: 10px 20px;
  display: flex;
  font-size: large;
}

a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.content {
  width: 80%;
  margin: 20px auto 70px;
  height: 480px;
  background-color: rgb(40, 51, 113);
}
