.App {
  text-align: center;
  color: white;
}

header {
  background-color: #202020bd;
  width: 80%;
  margin: 70px auto 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.info {
  padding: 15px 30px 20px;
  text-align: left;
}

.name {
  font-size: 32px;
  font-weight: 200;
}

.occupation {
  font-weight: 200;
}

.links {
  padding: 10px 20px;
  display: flex;
  align-self: center;
  font-size: large;
}

a {
  padding: 5px;
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: royalblue;
}

.card-list {
  width: 80%;
  padding: 20px;
  margin: 20px auto 70px;
  background-color: #202020bd;
}

.card {
  width: 100%;
  padding: 30px;
  background-color: grey;
}

.card:not(:first-of-type) {
  margin-top: 20px;
}
