.card {
  padding: 20px;
  margin-bottom: 15px;
  background-color: snow;
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card img {
  align-self: flex-start;
  margin-bottom: 10px;
  border: 1px solid grey;
  max-width: 600px;
}

.card .details {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding: 8px 0;
}

.card .description {
  margin-bottom: 10px;
  font-size: 14px;
}

.card .tags {
  margin-top: 3px;
}

.card .links,
.card .tags {
  display: flex;
  flex-flow: row wrap;
}

.card .label {
  border-radius: 4px;
  font-size: 15px;
  line-height: 18px;
}

.card .links .label {
  padding: 4px 8px 5px;
  border: solid 1px #4164ce;
  background-color: royalblue;
  color: white;
}

.card .links .label:hover {
  background-color: #3f51b5;
}

.card .tags .label {
  padding: 1px 6px 3px;
  background-color: whitesmoke;
  border: solid 1px #e7e7e7;
  font-size: small;
  color: #666;
}

.card .tags .label:hover {
  background-color: #e7e7e7;
  border-color: #c6c6c6;
}

@media all and (min-width: 600px) {
  .card {
    padding: 25px 25px 30px;
    margin-bottom: 25px;
  }

  .card .details {
    padding: 0;
  }
}

@media all and (min-width: 768px) {
  .card .content {
    flex-flow: row nowrap;
  }

  .card.with-image img {
    max-width: 42%;
    margin-bottom: 0;
    align-self: flex-start;
  }

  .card.with-image .details {
    margin-left: 20px;
    flex-grow: 2;
  }

  .card .description {
    font-size: medium;
  }
}

@media all and (min-width: 1024px) {
  .card {
    padding: 25px 35px 30px;
  }

  .card.with-image img {
    max-width: 40%;
  }

  .card.with-image .details {
    margin-left: 30px;
  }
}

@media all and (min-width: 1200px) {
  .card {
    padding: 35px 50px 45px;
  }
}
